@keyframes pulse-ring {
0%   { transform: scale(0.8); opacity: 0.6; }
100% { transform: scale(1.6); opacity: 0; }
}

.btn-primary {
  --bs-btn-bg: var(--bs-body-bg);
  --bs-btn-border-color: var(--bs-body-color);

  --bs-btn-hover-bg: var(--bs-body-color);
  --bs-btn-hover-border-color: var(--bs-body-color);
  --bs-btn-hover-color: var(--bs-body-bg);

  --bs-btn-active-bg: var(--bs-body-color);
  --bs-btn-active-border-color: var(--bs-body-color);
  --bs-btn-active-color: var(--bs-body-bg);
  
  --bs-btn-color: var(--bs-body-color);
}

.border {
  --bs-border-color: var(--bs-body-color)
}

.badge{
    --bs-badge-color: var(--bs-body-color)
}

.pulse-wrapper {
position: relative;
width: 64px;
height: 64px;
}

.pulse-ring {
position: absolute;
inset: 0;
border-radius: 50%;
border: 2px solid #0d6efd; /* Bootstrap primary blue */
animation: pulse-ring 1.8s ease-out infinite;
}

.pulse-ring:nth-child(2) { animation-delay: 0.6s; }
.pulse-ring:nth-child(3) { animation-delay: 1.2s; }



[data-bs-theme=light]{
    --gray-primary: rgb(200, 200, 200);
    --grayer-primary: rgb(160, 160, 160);
}
[data-bs-theme=dark]{
    --gray-primary: rgb(50, 50, 50);
    --grayer-primary: rgb(80, 80, 80);
}

.gray-bg{
    background-color: var(--gray-primary);
}

.grayer-bg{
    background-color: var(--grayer-primary);
}